@model Padaria.Dominio.Entidades.Categoria

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/MasterPage/Home/_Home.cshtml";
}

<h2>Deletar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Categoria</legend>

        @Html.HiddenFor(model => model.CategoriaID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <p>
            <input type="submit" value="Deletar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-primary" })
</div>

<script>
    $(document).ready(function () {
        $('input[type=text]').attr("readonly", "readonly");
    });
</script>