@model Padaria.Dominio.Entidades.Cliente

@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/MasterPage/Home/_Home.cshtml";
}

<h2>Cadastrar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cpf)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cpf)
            @Html.ValidationMessageFor(model => model.Cpf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Celular)
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.Celular)
            @Html.ValidationMessageFor(model => model.Celular)
        </div>

        <p>
            <input type="submit" value="Create" class="btn btn-primary" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Listar")
</div>

@*<script type="text/javascript">
    $(document).ready(function () {
        $('#Celular').keydown(function () {
            var t = "(";
            var t2 = ")";
            var t3 = "-";

            if ($(this).val().trim().length == 0) {
                $(this).val(t);
            }
            if ($(this).val().trim().length == 3) {
                var valor1 = $(this).val();
                valor1 += t2;
                $(this).val(valor1)
            }
            if ($(this).val().trim().length == 9) {
                var valor2 = $(this).val();
                valor2 += t3;
                $(this).val(valor2)
            }
        });
    });

</script>*@